<?php

$sql_server = "127.0.0.1";
$port = '3306';
$sql_user = "root";
$sql_pass = "{{ admin_password }}";

$mydb="workshop";

$error = '';

try {
  $db = new \PDO("mysql:host=$sql_server;port=$port;dbname=$mydb;charset=utf8", $sql_user, $sql_pass);
} catch(PDOException $e) {
  echo "Could not connect to the database\n";
  exit;
}

if (!$db) {
  echo "Could not connect to the database\n";
  exit;
}

session_start();

// Password authentication check
$password_authenticated = false;
if (isset($_SESSION['password_authenticated']) && $_SESSION['password_authenticated'] === true) {
  $password_authenticated = true;
} elseif (isset($_POST['site_password'])) {
  if ($_POST['site_password'] === "{{ admin_password }}") {
    $_SESSION['password_authenticated'] = true;
    $password_authenticated = true;
    // Redirect to the same page to clear the POST data
    header("Location: " . $_SERVER['REQUEST_URI']);
    exit;
  } else {
    $error = '<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color=red>Incorrect password</font>';
  }
}

// Only process the login form if password authentication is complete
if ($password_authenticated) {
  if (!isset($_SESSION['email'])) {
    if (!isset($_POST['email'])) {
    } else {
      if (!isValidEmail($_POST['email'])) {
        $error = '<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color=red>Email is invalid</font>';
      } else {
        // Check if student already exists
        $student = db_fetch_assoc_prepare("SELECT * FROM `users` WHERE email = ?", array(sql_clean_username($_POST['email'])));
        if (!isset($student['id'])) {
          $id = db_fetch_cell("SELECT id FROM `users` WHERE email = '' LIMIT 1", 'id');
          if (!$id) {
            $error = '<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color=red>Sorry, all available student accounts are taken.  Please let the instructor know.</font>';
          } else {
            db_execute_prepare('UPDATE `users` set name=?, email=? WHERE id = ?', array(sql_clean_username($_POST['name']), sql_clean_username($_POST['email']), $id));
            $_SESSION['email'] = sql_clean_username($_POST['email']);
            Header("Location: /#studentinfo\n\n");
            exit;
          }
        } else {
          $_SESSION['email'] = $student['email'];
          Header("Location: /#studentinfo\n\n");
          exit;
        }
      }
    }
  } else {
    $student = db_fetch_assoc_prepare("SELECT * FROM `users` WHERE email = ?", array($_SESSION['email']));
    if (!isset($student['id'])) {
      session_destroy();
      header("Location: index.php\n\n");
      exit;
    }
  }

  if (isset($_GET['logout']) || (isset($student['email']) && $student['email'] != $_SESSION['email'])) {
    session_destroy();
    header("Location: index.php\n\n");
    exit;
  }
}
?>
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="style.css">
  <style>
    #password-form {
      background: white;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      text-align: center;
      max-width: 400px;
      margin: 50px auto;
    }
    #password-form input, #password-form button {
      padding: 10px;
      margin: 10px 0;
      width: 100%;
      box-sizing: border-box;
    }
    #password-form button {
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
    }
    #password-form button:hover {
      opacity: 0.8;
    }
    /* Hide main content until password is entered */
    <?php if (!$password_authenticated) { ?>
    .wrapper > header, .wrapper > section, .wrapper > footer {
      display: none;
    }
    <?php } ?>
  </style>
</head>

<body>
  <div class="wrapper">
    <?php if (!$password_authenticated) { ?>
    <!-- Password Form -->
    <div id="password-form">
      <h2>Password Required</h2>
      <p>Please enter the password to access this workshop:</p>
      <form method="POST">
        <input type="password" name="site_password" id="site-password" placeholder="Enter password">
        <?php if ($error) { echo $error; } ?>
        <button type="submit">Submit</button>
      </form>
    </div>
    <?php } else { ?>
    <header>
      <div class="header-container">
        <a href="https://ansible.com">
          <img
            class="header-logo"
            src="redhat-ansible-logo.svg"
            title="Red Hat Ansible"
            alt="Red Hat Ansible"
          />
        </a>
        <a class="header-link" href="https://labs.demoredhat.com/">
          Workshops Homepage
        </a>
      </div>
    </header>

<section>
  <h1>Workshop Name: {{ec2_name_prefix}}</h1>
  <p> This is the workshop launch page.  If you require more information please refer to this <a href="https://youtu.be/Y_Gx4ZBfcuk">YouTube video</a>.</p>
</section>

<hr>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>Instructions</h2>
                <p>Please follow the lab instructions at: <a href="http://red.ht/summit25-lb1437">http://red.ht/summit25-lb1437</a></p>
                <a id=studentinfo></a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>Workbench Information</h2>
                <p><?php print $error ?></p>
                <a id=studentinfo></a>
            </div>
        </div>



<?php

if (isset($student['id'])) {
  display_student($student);

} else {
  display_form();
}
?>

    </div>
</section>

</section>

<footer>
  <div class="footer-container">
    <a href="https://redhat.com">
      <img
        class="footer-logo"
        src="redhat-logo.svg"
        title="Red Hat"
        alt="Red Hat"
      />
    </a>
    <p class="footer-copyright">Copyright © 2022 Red Hat, Inc.</p>
    <div class="footer-linkContainer">
      <a href="https://www.redhat.com/en/about/privacy-policy" class="footer-link">Privacy statement</a>
      <span class="footer-linkSpacer">|</span>
      <a href="https://www.redhat.com/en/about/terms-use" class="footer-link">Terms of use</a>
      <span class="footer-linkSpacer">|</span>
      <a href="https://www.ansible.com/security?hsLang=en-us" class="footer-link">Security disclosure</a>
      <span class="footer-linkSpacer">|</span>
      <a href="https://www.redhat.com/en/about/all-policies-guidelines" class="footer-link">All policies and guidelines</a>
    </div>
  </div>
</footer>
<?php } ?>
</div>

</body>
</html>



<?php

function display_student($student) {
  print "<div class='student_logins'>
    <div class='header'>
        <p class='studentinfo'>" . ucfirst($student['username']) . "</p></div>
      <div class='content'>
        <p>
  {% if code_server is defined and code_server %}
  <div id='section_title'>VS Code access</div>
  To login to Visual Studio Code via your web browser please go here:<br>
  <table>
    <tr>
      <td>WebUI link:</td>
      <td>{% if workshop_type == 'windows' %}<a target=_blank href='" . $student['vscode'] . "'>" . $student['vscode_display'] . "</a>{% else %}<a target=_blank href='" . $student['vscode_display'] . "'>" . $student['vscode_display'] . "</a>{% endif %}</td>
    </tr>
    <tr>
      <td>password:</td>
      <td><code>" . $student['password'] . "</code></td>
    </tr>
  </table>";

  {% endif %}
  {% if workshop_type == "windows" or workshop_type == "configascode" %}
  print '<div id="section_title">Git access</div>
  To login to the git server via your web browser please go here:<br>
  <table>
    <tr>
      <td>WebUI link:</td>
      <td><a target=_blank href="' . $student['gitlab'] . '">' . $student['gitlab'] . '</a></td>
    </tr>
    <tr>
      <td>username:</td>
      <td><code>student' . $student['id'] . '</code></td>
    </tr>
    <tr>
      <td>password:</td>
      <td><code>' . $student['password'] . '</code></td>
    </tr>
  </table><br>';

  {% endif %}

  print '<div id="tower_info">
  {% if controllerinstall is defined and controllerinstall %}
  <div id="section_title">Ansible Automation Platform</div>
  To login to the Ansible Automation Platform WebUI use the following credentials:<br>
  <table>
  {% if dns_type != 'none' %}
    <tr>
  <td>WebUI link:</td>
  <td><a target=_blank href="https://student' . $student['id'] . '.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}">https://student' . $student['id'] . '.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}</a></td>
    </tr>
  {% endif %}
  {% if dns_type == 'none' %}
    <tr>
  <td>UI link:
  <td><a target=_blank href="https://' . $student['ip'] . '">https://' . $student['ip'] . '</a></td>
    </tr>
  {% endif %}
    <tr>
      <td>username:</td>
      <td><code>{% if workshop_type == "windows" %}student' . $student['id'] . '{% else %}admin{% endif %}</code></td>
    </tr>
    <tr>
      <td>password:</td>
      <td><code>{{admin_password}}</code></td>
    </tr>
  </table>
  {% endif %}
  {% if workshop_type == "configascode" %}
  <div id="section_title">Private automation hub</div>
  To login to the Private automation hub WebUI use the following credentials:<br>
  <table>
    <tr>
  <td>WebUI link:</td>
  <td><a target=_blank href="https://hub-student' . $student['id'] . '.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}">https://hub-student' . $student['id'] . '.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}</a></td>
    </tr>
    <tr>
      <td>username:</td>
      <td><code>admin</code></td>
    </tr>
    <tr>
      <td>password:</td>
      <td><code>{{admin_password}}</code></td>
    </tr>
  </table>
  {% endif %}
  {% if workshop_type == "smart_mgmt" %}
  <div id="section_title">Red Hat Satellite </div>
  To login to the Satellite WebUI use the following credentials:<br>
  <table>
  {% if dns_type != 'none' %}
    <tr>
  <td>WebUI link:</td>
  <td><a target=_blank href="https://student' . $student['id'] . '-sat.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}">https://student' . $student['id'] . '-sat.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}</a></td>
    </tr>
  {% endif %}
  {% if dns_type == 'none' %}
    <tr>
  <td>UI link:
  <td><a target=_blank href="https://' . $student['ip'] . '">https://' . $student['ip'] . '</a></td>
    </tr>
  {% endif %}
    <tr>
      <td>username:</td>
      <td><code>{% if workshop_type == "windows" %}student' . $student['id'] . '{% else %}admin{% endif %}</code></td>
    </tr>
    <tr>
      <td>password:</td>
      <td><code>{{admin_password}}</code></td>
    </tr>
  </table>
  {% endif %}
  {% if workshop_type == "auto_satellite" %}
  <div id="section_title">Red Hat Satellite </div>
  To login to the Satellite WebUI use the following credentials:<br>
  <table>
  {% if dns_type != 'none' %}
    <tr>
  <td>WebUI link:</td>
  <td><a target=_blank href="https://student' . $student['id'] . '-sat.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}">https://student' . $student['id'] . '-sat.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}</a></td>
    </tr>
  {% endif %}
  {% if dns_type == 'none' %}
    <tr>
  <td>UI link:
  <td><a target=_blank href="https://' . $student['ip'] . '">https://' . $student['ip'] . '</a></td>
    </tr>
  {% endif %}
    <tr>
      <td>username:</td>
      <td><code>{% if workshop_type == "windows" %}student' . $student['id'] . '{% else %}admin{% endif %}</code></td>
    </tr>
    <tr>
      <td>password:</td>
      <td><code>{{admin_password}}</code></td>
    </tr>
  </table>
  {% endif %}
  {% if workshop_type == "ripu" %}
  <div id="section_title">RHEL Web Console</div>
  To login to the RHEL web console on the AAP webUI use the following credentials:<br>
  <table>
  {% if dns_type != 'none' %}
    <tr>
  <td>WebUI link:</td>
  <td><a target=_blank href="https://student' . $student['id'] . '.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}:9090">https://student' . $student['id'] . '.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}:9090</a></td>
    </tr>
  {% endif %}
  {% if dns_type == 'none' %}
    <tr>
  <td>UI link:
  <td><a target=_blank href="https://' . $student['ip'] . ':9090">https://' . $student['ip'] . ':9090</a></td>
    </tr>
  {% endif %}
    <tr>
      <td>username:</td>
      <td><code>student</code></td>
    </tr>
    <tr>
      <td>password:</td>
      <td><code>{{admin_password}}</code></td>
    </tr>
  </table>
  {% endif %}
  </div>
  {% if workshop_type == 'devops' %} Lab Guide: <a target=_blank href="http://student' . $student['id'] . '.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}:8888">http://student' . $student['id'] . '.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}:8888</a><br>{% endif %}';
    print '<div id="hub_info">
    {% if automation_hub is defined and automation_hub|bool and workshop_type != 'configascode' %}
    <div id="section_title">Private automation Hub</div>
    To login to the Private Automation Hub WebUI use the following credentials:<br>
    <table>
      <tr>
    <td>WebUI link:
    <td><a target=_blank href="' . $student['hub'] . '">' . $student['hub'] . '</a></td>
      </tr>
      <tr>
        <td>username:</td>
        <td><code>{% if workshop_type == "windows" %}student' . $student['id'] . '{% else %}admin{% endif %}</code></td>
      </tr>
      <tr>
        <td>password:</td>
        <td><code>{{ admin_password }}</code></td>
      </tr>
    </table>
    {% endif %}
    </div>';
  {% if workshop_type == "windows" %}
  {% else %}
  print '<div id="section_title"><a data-toggle="collapse" href="#collapse1">SSH access-></a></div><div id="collapse1" class="panel-collapse collapse">
  As a backup option if VS Code Terminal is not sufficient, you can directly SSH to your control node:<br>
  <div id="control_node">
  <div id="login_info">
  <table>
    <tr>
      <td>username:</td>
      <td><code>{{ student_user }}</code></td>
    </tr>
    <tr>
      <td>password:</td>
      <td><code>' . $student['password'] . '</code></td>
    </tr>
    <tr>
      <td>IP Address:</td>
      <td><code>' . $student['ip'] . '</code></td>
    </tr>
  </table>
  </div>
  <div id="example_login">
  <pre><code>ssh {{ student_user }}@' . $student['ip'] . '</code></pre>
  {% if dns_type != 'none' %}
  DNS: student' . $student['id'] . '.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}<br>
  <pre><code>ssh {{ student_user }}@student' . $student['id'] . '.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}</code></pre>
  {% endif %}
  </div>
  </div>
  </div>';
  {% endif %}

  print "</div></div>";

}





function isValidEmail($email){
    return filter_var($email, FILTER_VALIDATE_EMAIL) !== false;
}

function sql_clean_username($text) {
  $text = preg_replace("/[^[:alnum:][:space:] @\.\-_]/u", '', $text);
  return $text;
}

function db_execute($query) {
  global $db;
  $stmt = $db->query($query);
  return $db->lastInsertId();
}

function db_execute_prepare($query, $data) {
  global $db;
  $stmt = $db->prepare($query);
  $stmt->execute($data);
  return $db->lastInsertId();
}

function db_fetch_cell($query, $cell) {
  global $db;
  $stmt = $db->query($query);
  if (!$stmt) return false;
  $results = $stmt->fetch(\PDO::FETCH_ASSOC);
  if (!isset($results[$cell])) return false;
  return $results[$cell];
}

function db_fetch_assoc($query) {
  global $db;
  $stmt = $db->query($query);
  if ($stmt) {
    $results = $stmt->fetch(\PDO::FETCH_ASSOC);
    return $results;
  } else {
    return false;
  }
}

function db_fetch_assoc_prepare($query, $data) {
  global $db;
  $stmt = $db->prepare($query);
  $stmt->execute($data);
  $results = $stmt->fetch(\PDO::FETCH_ASSOC);
  return $results;
}

function db_fetch_assocs($query) {
  global $db;
  $stmt = $db->query($query);
  if ($stmt) {
    $results = $stmt->fetchAll(\PDO::FETCH_ASSOC);
    return $results;
  } else {
    return false;
  }
}

function db_fetch_assocs_prepare($query, $data) {
  global $db;
  $stmt = $db->prepare($query);
  $stmt->execute($data);
  $results = $stmt->fetchAll(\PDO::FETCH_ASSOC);
  return $results;
}

function display_form() {
  print "<div class='student_logins'>
    <div class='header'>
             <p class='studentinfo'>Please enter your Name and Email address.</p>
    </div>
      <div class='content'>
        <p>";
  print "<form action='/' method=POST enctype='multipart/form-data'>";
  print "<table><tr><td align=right>Name: </td><td><input type=text name=name size=20></td></tr>";
  print "<tr><td align=right>Email: </td><td><input type=text name=email size=20></td></tr>";
  print "<tr><td></td><td><input type=submit value='Submit'></td></tr></table></form>";
  print "</p>";
  print "</div></div>";
}